<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/memos.css">
</head>
<%- include('includes/nav.ejs')%>

<div class="main">
    <main class="main-container"> 
        
           <div>
             <img class="memoImg" src="/img/memos_bg.jpg" alt="<%= memo.title%> ">
           </div>
           <div>
             <h1 class="memoTitle">  <%= memo.title %></h1>
           </div>
           <div>
            <h4 class="memoDate"> Derniere Modification : <%= memo.updatedAt.toISOString().slice(0,10)+' / '+memo.updatedAt.toISOString().slice(11,16) %></h4>
          </div>

          <div>
            <p class="memoDesc"> <%= memo.description %></p>
          </div>


            <form action="/share_memo" method="POST">
                <input type="hidden" value="<%= memo.id %>" name="memoId">
                <select id="share_memo" name="share_choices" multiple>
                    <option id="0"> Choissisez les noms </option>
                    <% for(let user of users) { %>
                     <option value="<%= user.id %>"><%= user.first_name+' '+user.last_name%> </option>
                    <% } %>
                </select>
                <input type="submit" class="btn" value="Partager"/> 
            </form>
        
        
        
    </main>
</div>


</body>
</html>