<% if(isAdmin) { %>
  <%- include('includes/admin_head.ejs')%>
  <link rel="stylesheet" href="/css/memos.css">
  </head>
  <%- include('includes/admin_nav.ejs')%>
  <% } else { %>
  
  <%- include('includes/head.ejs')%>
  <link rel="stylesheet" href="/css/memos.css">
  <link href="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.css" rel="stylesheet" type="text/css">
  <script src="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.js" type="text/javascript"></script>
  </head>
  <%- include('includes/nav.ejs')%>
<% } %>

<div class="main">
    <main class="main-container"> 
        
           <div>
             <img class="memoImg" src="/img/memos_bg.jpg" alt="<%= memo.title%> ">
             <% if(memo.owner !== user.id) { %>
              <h2 class="memo-title"> Partagé ! </h2>
            <% } %>
           </div>
           <div>
             <h1 class="memoTitle">  <%= memo.title %></h1>
           </div>
           <div>
            <h4 class="memoDate"> Derniere Modification : <%= memo.updatedAt.toISOString().slice(0,10)+' à '+memo.updatedAt.toISOString().slice(11,16) %></h4>
          </div>

          <div>
            <p class="memoDesc"> <%= memo.description %></p>
          </div>


          <div id="shareContainer">
            <form action="/share_memo" method="POST">
              <input type="hidden" value="<%= memo.id %>" name="memoId">
              
              <select id="share_memo" name="share_choices" multiple>
                  <% for(let user of users) { %>
                   <option value="<%= user.id %>" data-src="<%= user.img_url %>"><%= user.first_name+' '+user.last_name%> </option>
                  <% } %>
              </select>
              <input type="submit" class="btnShare" value="Partager"/> 
          </form>
          </div>

        
        
        
    </main>
</div>

  <script>

    function listUsersRow(option) {
      var template = [
        "<div class='listShare'><img class='userImgList' src='", option.dataset.src, "'/><span>",
          option.textContent,
        "</span></div>"
      ];
      return template.join('');
      }

    var shareSelect = new Selectr(document.getElementById('share_memo'),{


      defaultSelected: true,
      renderOption: listUsersRow,
      width: "auto",
      disabled: false,
      searchable: true,
      clearable: false,
      sortSelected: false,
      allowDeselect: false,
      closeOnScroll: false,
      nativeDropdown: false,
      nativeKeyboard: false,
      placeholder: "Choissisez Avec Qui ",
      taggable: false,
      tagPlaceholder: "Enterez un tag..."
  
  });

  </script>

</body>
</html>