<% if(isAdmin) { %>
  <%- include('includes/admin_head.ejs')%>
  <link rel="stylesheet" href="/css/memos.css">
  <link href="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.css" rel="stylesheet" type="text/css">
  <script src="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.js" type="text/javascript"></script>
  </head>
  <%- include('includes/admin_nav.ejs')%>
  <% } else { %>
  
  <%- include('includes/head.ejs')%>
  <link rel="stylesheet" href="/css/memos.css">
  <link href="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.css" rel="stylesheet" type="text/css">
  </head>
  <%- include('includes/nav.ejs')%>
<% } %>

<div class="main">
    <main class="main-container"> 
        
           <div class="row">
             <img class="memoImg" src="<%= memo.imgUrl %>" alt="<%= memo.title%> ">
           </div>

           <% if(memo.owner !== user.id) { %>
            <div class="row sharedFrom">
              <h2 class="memo-title"> partagé par : <br> <%= owner.first_name+' '+owner.last_name %>  </h2>
              <img src="<%= owner.img_url %>" alt="">
            </div>
          <% } %>
           <div class="row oneline">
             <h1 class="memoTitle">  <%= memo.title %></h1>
             <h4 class="memoDate"> Derniere Modification : <%= memo.updatedAt.toISOString().slice(0,10)+' à '+memo.updatedAt.toISOString().slice(11,16) %></h4>
           </div>
          <hr>
          <div class="row">
            <p class="memoDesc"> <%= memo.description %></p>
          </div>


          <div id="shareContainer" class="row" >
            <form action="/share_memo" method="POST">
              <input type="hidden" value="<%= memo.id %>" name="memoId">
              
              <select id="share_memo" name="share_choices" multiple>
                  <% for(let user of users) { %>
                   <option value="<%= user.id %>" data-src="<%= user.img_url %>"><%= user.first_name+' '+user.last_name%> </option>
                  <% } %>
              </select>
              <input type="submit" class="btnShare" value="Partager"/> 
          </form>
          </div>

        
        
        
    </main>
</div>
  <script src="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.js" type="text/javascript"></script> 
  <script src="/js/memos.js"> </script>

</body>
</html>