<% if(isAdmin) { %>
<%- include('includes/admin_head.ejs')%>
<link rel="stylesheet" href="/css/memos.css">
</head>
<%- include('includes/admin_nav.ejs')%>
<% } else { %>

<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/memos.css">
</head>
<%- include('includes/nav.ejs')%>
<% } %>

    <div class="main">
        <h1> Mémos ! </h1>
        <main class="main-container"> 
            <% if (memos.length >0) { %> 
                <% for(let memo of memos) { %> 
                    <article class="memo">
                        <div class="rowMemo">
                            <a href="memos/<%= memo.id %>">
                                <% if (!memo.imgUrl) { %>
                                    <img class="memo-img-default" src="/img/memo_default.jpg" alt="<%= memo.title%> ">
                                <% }else { %>
                                    <img class="memo-img" src="<%= memo.imgUrl %>" alt="<%= memo.title%> ">

                                <% } %>
                            </a>
                        </div>
                        <div class="rowMemo">
                            <h2 class="memo-title"> <%= memo.title %> </h2>
                        </div>

                        <!-- <h4 class="memo-last-update"> Derniere Modification : <%= memo.updatedAt.toISOString().slice(0,10) %></h4> -->
                        <!-- <p class="memo-desc"> <%= memo.description.substring(0,80) %><b>...</b></p> -->
                        <div class="actions">
                            <a href="memos/<%= memo.id %>" class="btn"> 
                                Details<!-- <img src="/img/add_icon.png" class="detailImg" alt=""> -->
                            </a>
                        
                            <% if(memo.owner === user.id) { %>
                                <a type="submit" href="/edit_memo/<%= memo.id %>" class="btn">
                                    Modifier
                                </a>

                                <form action="/delete_memo" method="POST">
                                    <input type="hidden" value="<%= memo.id %>" name="memoId">
                                        
                                    <button type="submit" class="btn">
                                        Supprimer
                                        <!-- <img src="/img/delete.png" class="deleteImg" alt="" > -->
                                    </button>
                                </form> 
                              <% } %>

                        </div>

                        
               
                    </article>
                <% } %> 
            <% } else { %>
                <h1> Pas de Mémos sauvegardés Voulez vous en <a href="">insérer ?</a> </h1>
            <%}%> 
    

        </main>
    </div>
  



    
</body>
</html>