<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/memos.css">
</head>
<%- include('includes/nav.ejs')%>

<div class="main">
    <h1> Details ! </h1>
    <main class="main-container"> 
            
        <h1>  <%= memo.title %></h1>
           
        <h2 class="memo-title"> <%= memo.title %>  </h2>
        <h4 class="memo-last-update"> Derniere Modification : 04/03/2020-18h30</h4>
        <img class="memo-img" src="/img/memos_bg.jpg" alt="<%= memo.title%> ">
        <p class="memo-desc"> <%= memo.description %></p>
        <a href="/memo/<%= memo.id %>" class="btn"> Plus De Détails</a>
        
    </main>
</div>


</body>
</html>