<%- include('../includes/admin_head.ejs')%>
<link rel="stylesheet" href="/css/memos.css">
</head>
<%- include('../includes/admin_nav.ejs')%>


    <div class="main">
        <h1> Mémos ! </h1>
        <main class="main-container"> 
            <% if (memos.length >0) { %> 
                <% for(let memo of memos) { %> 
                    <article class="memo">
                        <% if(memo.owner !== userId && canShare ) { %>
                            <h2 class="memo-title"> Partagé ! </h2>
                        <% } %>
                        <h2 class="memo-title"> <%= memo.title %> </h2>
                        <h4 class="memo-last-update"> Derniere Modification : <%= memo.updatedAt.toISOString().slice(0,10) %></h4>
                        <img class="memo-img" src="<%= memo.imgUrl %> " alt="<%= memo.title%> ">
                        <p class="memo-desc"> <%= memo.description.substring(0,110) %><b>...</b></p>
                        <a href="memos/<%= memo.id %>" class="btn"> Plus De Détails</a>
                        
                        <% if (canShare) { %>
                        <form action="/share_memo" method="POST">
                            <input type="hidden" value="<%= memo.id %>" name="memoId">
                            <select id="share_memo" name="share_choices" multiple>
                                <option id="0"> Choissisez les noms </option>
                                <% for(let user of users) { %>
                                 <option value="<%= user.id %>"><%= user.first_name+' '+user.last_name%> </option>
                                <% } %>
                            </select>
                            <input type="submit" class="btn" value="Partager"/> 
                        </form>
                        <% } %>

                        <form action="/delete_memo" method="POST">
                            <input type="hidden" value="<%= memo.id %>" name="memoId">
                            <input type="submit" class="btn" value="Supprimer"/> 
                        </form>
                    </article>
                <% } %> 
            <% } else {%>
                <h1> Pas de Mémos sauvegardés Voulez vous en <a href="">insérer ?</a> </h1>
            <%}%> 
    

        </main>
    </div>
  



    
</body>
</html>