<%- include('../includes/admin_head.ejs')%>
<link rel="stylesheet" href="/css/memos.css">
</head>
<%- include('../includes/admin_nav.ejs')%>

<div class="main">
    <main class="main-container"> 
        
           <div>
             <img class="memoImg" src="/img/memos_bg.jpg" alt="<%= memo.title%> ">
           </div>
           <div>
             <h1 class="memoTitle">  <%= memo.title %></h1>
           </div>
           <div>
            <h4 class="memoDate"> Derniere Modification : <%= memo.updatedAt.toISOString().slice(0,10)+' / '+memo.updatedAt.toISOString().slice(11,16) %></h4>
          </div>

          <div>
            <p class="memoDesc"> <%= memo.description %></p>
          </div>
        
        
    </main>
</div>


</body>
</html>