<%- include('../includes/admin_head.ejs')%>
<link rel="stylesheet" href="/css/users.css">
</head>
<%- include('../includes/admin_nav.ejs')%>

<div class="main">

    <!-- <div class="add_user">

        <h4>
            Ajouter un nouveau utilisateur ?
        </h4>

        <a href="" class="btn">
            Ajouter
        </a>
    
    </div> -->



    <div class="users">

        <h2> Utilisateurs !</h2>
        <hr>

        <table>
            <thead>
            <tr>
                <td></td>
                <td> Prénoms </td>
                <td> Nom </td>
                <td> Sexe </td>
                <td> Email </td>
                <td> Role </td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <% for(let user of users) { %>
                <tr>
                    <td>
                        <% if (!user.img_url) { %>
                            <% if (user.sexe==='m'){ %>
                                <img class="userImgList" src="/img/male_profil.jpg" alt=""/>
                            <% }else { %>
                                <img class="userImgList" src="/img/female_profil.jpg" alt=""/>
                        <% }}else { %>
                            <img class="userImgList" src="<%= user.img_url %>" alt=""/>
                        <% } %>

                    </td>
                    <td> <%= user.first_name %></td>
                    <td> <%= user.last_name %> </td>
                    <td>
                       <% if (user.sexe==='m') { %>
                           <img src="/img/male.png"  class="sexeImg" alt="">
                       <% }else { %>
                           <img src="/img/female.png"  class="sexeImg" alt="">
                       <% } %>

                    </td>
                    <td> <%= user.email %></td> 
                    <td>
                        <% if ( user.role=='ADMIN' ) { %>
                            <img class="userImgList" src="/img/admin_icon.png" alt=""/>
                            <% }else { %>
                                <img class="userImgList" src="/img/simple_icon.png" alt=""/>
                        <% }%>
                    </td> 
                    
                    <td>
                        <!-- <form action="/admin/edit_user" method="POST">
                            <input type="hidden" value="<%= user.id %>" name="userId">
                            <input type="submit" class="btn" value="Modifier"/> 
                        </form> -->
                    </td>
                </tr>
            <% } %>





            </tbody>
        </table>

        <section class="pagination">
            <% for(i=1;i<=total ;i++) { %>
            <a href="all_users?page=<%= i %>"><%= i %></a>
            <%}%>
        </section>

    </div>

</div>

    
</body>
</html>